<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>FunFit</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ParticipantControllerServlet</display-name>
    <servlet-name>ParticipantControllerServlet</servlet-name>
    <servlet-class>com.example.FunFit.controller.ParticipantControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParticipantControllerServlet</servlet-name>
    <url-pattern>/ParticipantControllerServlet</url-pattern>
    <url-pattern>/AddParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BatchControllerServlet</display-name>
    <servlet-name>BatchControllerServlet</servlet-name>
    <servlet-class>com.example.FunFit.controller.BatchControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchControllerServlet</servlet-name>
    <url-pattern>/BatchControllerServlet</url-pattern>
    <url-pattern>/AddBatch</url-pattern>
  </servlet-mapping>
</web-app>